extends layouts/default
block vars
  - title = 'CENTURY'
  - active__menu = 'About us'
block content
  .page-header
    .container
      .row
        .col.md-10
          h1 Downtown Medical Services got its start over 16 years ago
          p Thank you for choosing Downtown Medical Services, Brooklyn's state-of-the-art medical center. Serving the Brooklyn community by providing both treatment and focusing on prevention.

  .about-page
    .container
      h2 All our doctors are caring and very responsible specialists
      p Downtown Medical Services clinic is located in the center of Metrotech Downtown Brooklyn on 81 Willoughby Street. We service our community for the past 16 years. From small one-doctor office in 1997 we grow-up to the multispecialty clinic where we have 12 highly qualified physicians Physical therapy and diagnostic department.
      p All our doctors are board certified excellent practitioners and, most important, caring and very responsible specialists. Our main goal is to be here for you and help you to go through any health problems with great support and professionalism you need. For the long time of our life in Brooklyn community, we became a family for our patients and, I hope will be yours. Let me take you around our office, so you can personally meet our doctors and very friendly staff.
      p Our experienced medical doctors, trained at some of the finest medical schools in the country, will evaluate your condition, prescribe appropriate medications, if needed, and perform specialized diagnostic testing if indicated to identify the exact location and extent of your ailment.
      p Our experienced chiropractor provides gentle manipulation of different areas of your skeleton, which goes a long way in relieving the cause of your aches and pains.
      p Our full time physical therapist has extensive experience in treating injuries and other physical problems. Working with our professional medical staff, they will provide a program of physical therapy based on your needs.
      p Your health is our primary concern, we look forward to getting you healthy and keeping you healthy.
      
      .about-page__tour
        img(src="https://dummyimage.com/wuxga&text=TOUR+CONTAINER", alt="")
      .about-page__comment
        .row.stretch
          .col.sm-4.about-page__comment-autor
              img(src="img/comment.jpg", alt="")
              span Dr. Anzhela Dvorkina
          .col.sm-8.about-page__comment-text
            h2 Dear Friends,
            p I'd like to welcome you to the our family of our patients and personnel.
            p In a modern world of our megapolis with a huge variety of the medical offices, hospitals, and centers it is very difficult to attract and impress with anything new and unusual.
            p There are many great specialists in our medical field, a lot of diagnostic tools, etc.
            p I'd like to offer an old fashioned but everlasting atmosphere of trust and comfort for all my patients.
            p Medicine has been my passion and I have always had an endless love for the human race and my motivation to become a doctor. I have no doubt that you can find a good specialist, but it is very difficult to find a specialist who is willing to be your friend and only yours.
            p I'd like to welcome you to the big family of our patients and personel.
            p.text-right Sincerely, Dr. Anzhela Dvorkina.          
