extends layouts/default
block vars
  - title = 'CENTURY'
  - active__menu = 'Insurance plans'
block content
  .page-header
    .container
      .row
        .col.md-10
          h1 Get a good medical care with us

  .insurance-page
    .container
      h2 Worker's Compensation Insurance
      p If you get hurt on the job, your employer is required by law to pay for workers' compensation benefits. You could get hurt by:
      ul
        li One event at work. Examples: hurting your back, getting burned by a chemical, getting hurt in a car accident while at work
        li Repeated exposures at work. Examples: hurting your wrist from doing the same motion over and over, losing your hearing because of constant loud noise deliveries.
      h3 WHAT ARE THE BENEFITS?
      p Medical Care: Paid for by your employer, to help you recover from an injury or illness caused by work.
      p Temporary Disability Benefits: Payments if you lose wages because your injury prevents you from doing your usual job while recovering.
      p Permanent Disability Benefits: Payments if you don't recover completely.
      p Benefits When You Need To Change Jobs:
      ul
        li Supplemental Job Displacement Benefit. A benefit to help pay for retraining or skill enhancement if you don't recover completely, you don't return to work for your employer.
        li Vocational Rehabilitation. Job placement counseling and possibly retraining, if you are unable to return to your old job and your employer doesn't offer other work.
      hr
      .row.middle
        .col.sm-6
          h2 No Fault Insurance
          p Anyone who is injured in a motor vehicle accident, struck by a car or injured in some way by the use or operation of a motor vehicle is an "eligible injured person" and will be covered by No-Fault insurance.
          p In New York State, every vehicle is required to have a minimal amount of personal injury protection coverage        
        .col.sm-6
          .insurance-panel
            h3 PERSONAL INJURY PROTECTION (PIP)
            p If you are injured in an accident, you can be reimbursed and get the medical treatment you need without having to determine who is liable for the accident.
      hr
      .row
        nav.col.sm-4
          ul.locations__services
            li: a(href="#") 1199
            li: a(href="#") Aetna
            li: a(href="#") Anthem
            li: a(href="#") Atlantis
            li: a(href="#") BC/BS Verizon
        nav.col.sm-4
          ul.locations__services
            li: a(href="#") Comprehensive Care Management
            li: a(href="#") Elder Plan
            li: a(href="#") Fidelis
            li: a(href="#") GHI
            li: a(href="#") Great West
        nav.col.sm-4
          ul.locations__services
            li: a(href="#") HIP
            li: a(href="#") Medicaid
            li: a(href="#") MetroPlus
            li: a(href="#") Oxford
            li: a(href="#") United Health Care









