extends layouts/default
block vars
  - title = 'CENTURY'
  - active__menu = 'Services'
block content
  .page-header
    .container
      .row
        .col.md-10
          h1 Diagnostic Center
          p Downtown Medical Services is committed to providing you with the highest standards of professional medical care. Downtown Medical Services is located in Downtown Brooklyn and provides a full service imaging center on premises. The Diagnostic Treatment Center provides the following services:  

  .services-page
    .container
      .services-page__tiles
        .services-page__tiles-item
            h2: a(href="#", title="title") C-ARM/Pain Management
            p It provides optimal anatomic imaging demonstrated with photographs of patient and C-Arm in proper positions, and shows fluoroscopic images from actual procedures performed.
        .services-page__tiles-item
          h2: a(href="#", title="title") Ultrasound (Sonography)
          p Ultrasound involves exposing part of the body to high-frequency sound waves to produce pictures of the inside of the body. No ionizing radiation is used.
        .services-page__tiles-item
          h2: a(href="#", title="title") Stress Test/Treadmill
          p This test provides information about how the heart responds to exertion. Involves walking on a treadmill at increasing levels of difficulty while your heart rate, blood pressure are monitored
        .services-page__tiles-item
          h2: a(href="#", title="title") Cardiology
          p It is useful in diagnosing coronary artery disease and cardiomyopathy and identifying possible damage to the heart from chemotherapy or radiotherapy
        .services-page__tiles-item
          h2: a(href="#", title="title") Color Doppler
          p It converts the Doppler measurements into an array of colors. This visualization is combined with a standard ultrasound picture of a blood vessel to show the speed and direction of blood flow
      .services-page__list
        h2 Physical Therapy, Exercise & fitness
        .services-page__list-item
          h2: a(href="#", title="title") Plyometric: to enhance upper body strength
          p You have a substantial number of options when it comes to getting and staying in shape. The days of combining a boring resistance training session with a cardiovascular workout are gone. With plyometrics circuit training, you can spice up your workout and add flare to your exercise regimen.
        .services-page__list-item
          h2: a(href="#", title="title") Post Pregnancy Core building Exercises
          p It can take 6-12 weeks to return to a pre-pregnancy state - sometimes longer - so don't give up! With proper training, and beginning as early as 24-48 hours after birth, you can avoid many problems and work toward rebuilding and toning your body the right way.
        .services-page__list-item
          h2: a(href="#", title="title") Rising Against Osteoporosis
          p At birth, our 270 bones lack calcium. As we grow, a bone's soft collagen framework rapidly stores calcium. Bones lengthen at special structures near their ends called growth plates.
        .services-page__list-item
          h2: a(href="#", title="title") Exercises to fight Cellulite
          p Cellulite is the lumpy substance resembling cottage cheese that is commonly found on the thighs, stomach, and butt. Cellulite is actually a fancy name for collections of fat that push against the connective tissue beneath a person's skin, which causes the surface of the skin to dimple or pucker and look lumpy.
        .services-page__list-item
          h2: a(href="#", title="title") Home Health Care Supplies and Physical Therapy products ...
          p We are MIG Supplies — A leading provider of quality medical and rehabilitation, Electronic Diagnostic Equipment and supplies. We strive to exceed the expectations of every customer and their family by providing the most durable products available at the lowest overall price. We deliver products to many medical facilities providing and fulfilling every need.



