@mixin typography($font-size){
  
  $margin: 1em * $base-font_ratio;
  
  body{
    font-size: $font-size;
    line-height: ($font-size * $base-font_ratio);
  }

	h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font;
    line-height: $headings-line-height;
		font-weight: $headings-font-weight;
    margin-top: $margin;
    margin-bottom: $margin * .25;
	}
  h1 {
    font-size: $font-size * $base-font_ratio * $base-font_ratio * $base-font_ratio;
		margin-top: 0;
  }

  h2 {
    font-size: $font-size * $base-font_ratio * $base-font_ratio;
  }

  h3 {
    font-size: $font-size * $base-font_ratio;
  }

  h4 {
    font-size: $font-size;
  }

  h5 {
    font-size: $font-size / $base-font_ratio;
  }

  h6 {
    font-size: $font-size / $base-font_ratio / $base-font_ratio;
  }

  p, ul, ol, pre, table, blockquote {
    margin-top: 0;
    margin-bottom: $margin;
  }

}
