block vars
include ../inc/mixin
doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0", user-scalable="none")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title} | #{active__menu} page

    //default styles
    link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:400,700&amp;subset=cyrillic" rel="stylesheet")
    link(href="css/framework.min.css", rel="stylesheet")

  body
    header.header
      .container
        .row.middle
          .col.md-3.xs-8
            a.brand(href="index.html" title=title): svg: use(xlink:href="#logo")
          .col.xs-4.tablet__down
            button.navbar-toggle: svg: use(xlink:href="#menu")
          .col.md-7.offset-md-2
            .row.middle.between
              .location
                svg.location-icon: use(xlink:href="#location")
                | Sheepshead Bay, Flatbush, Downtown Brooklyn
              a(href="tel:7185223399", title="call").btn-call: span (718) 522-3399
              span.buttons-wraper or
              a(href="#", data-show="chat").btn-chat Chat now 

        nav.navbar
          .navbar-content
            .navbar-nav
              ul
                +item('Home', 'index.html')
                +item('Locations', 'locations.html')
                +item('Why us', 'why-us.html')
                +item('Insurance plans', 'insurance-plans.html')
                +item('Services', 'services.html')
                +item('Advice', 'blog.html')
                +item('About us', 'about-us.html')
                +item('Contact us', 'contact-us.html')

                li.tablet__down
                  a(href="tel:7185223399", title="call").btn-call: span (718) 522-3399
                  a(href="#", data-show="chat").btn-chat Chat now 
    block content
    footer.footer
      .container  
        .row
          .col.sm-4
            dl.footer__adress
              dt Sheepshead Bay
              dd 260 Ave X Brooklyn, NY 11223<br>Phone: 718 336 8855<br>
                a(href="mailto:centurymedicalny@gmail.com") centurymedicalny@gmail.com
              dt Flatbush
              dd 770 Flatbush Ave, Brooklyn, NY 11226<br>Phone: 347 627 3988<br>
                a(href="mailto:centurymedicalny@gmail.com") centurymedicalny@gmail.com
              dt Downtown Brooklyn
              dd 81 Willoughby Street, 4th Floor,<br>Brooklyn, NY 11201<br>Phone: 718-522-3399<br>
                a(href="mailto:centurymedicalny@gmail.com") centurymedicalny@gmail.com
          .col.sm-4
            ul.footer__nav
              li: a(href="") Blogs Archive
              li: a(href="") Diabetes Mellitus and It's Management
              li: a(href="") High Blood Pressure & Risk Factors and Management
              li: a(href="") Thyroid Dysfunction, Causes, Diagnose and Treatment
              li: a(href="") Pap Smear & Guidelines, How to Perform, Things to Avoid
              li: a(href="") A Quality Internal Medicine, Primary Care Physician is Worth the Wait
          .col.sm-4
            .footer__last-col
              .footer__buttons
                a(href="#", data-show="chat").footer__chat 
                  svg: use(xlink:href="#chat")
                  span Live chat
                a(href="tel:7185223399").footer__call Contact us any time
              a.footer__brand(href="index.html" title=title): svg: use(xlink:href="#logo2")
              p.footer__copyrights © Downtown Medical Services 2015<br>
                a(href="") Privacy Policy
              p.footer__social
                a(href="https://facebook.com", target="_blank"): svg: use(xlink:href="#fb")
                a(href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fdowntownmedicalservices.com%2F&ref_src=twsrc%5Etfw&screen_name=DowntownMedical&tw_p=followbutton", target="_blank"): svg: use(xlink:href="#tw")
                a(href="https://plus.google.com/+Downtownmedicalservices", target="_blank"): svg: use(xlink:href="#gp")
              p.footer__develop Development — 
                a(href="http://www.meta.md" target="_blank") www.meta.md






    // SCRIPTS
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="js/main.min.js")
    script(src="js/app.min.js")
    
